<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ title }}</h1>
    <div>
        <a id="home" href="/">
          <img src="http://icons.iconarchive.com/icons/robsonbillponte/iRob/512/Folder-Home-Folder-icon.png" height="50px" width="50px"/>
        </a>

        <table>
            <thead>
                <tr>
                    {% for title in column_titles%}
                    <td>{{ title }}</td>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for items in data_list %}
            <tr>
                {% for item in items %}
                <td>{{ item|safe }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>